.services-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        margin-top: 1em;

        .service {
            width: 90%;
            height: 17vw;
            box-shadow: 4px 4px 12px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            overflow: hidden;
            position: relative;
            transition: 0.3s;

            &:hover .text p {
                display: block;
            }

            &:hover .text {
                height: 50% !important;
                top: 50%;
            }

            &:hover .img img {
                height: 50%;
            }

            &:hover {
                transform: translateY(-7px);
            }

            .img {
                width: 100%;

                img {
                    height: 80%;
                    width: 100%;
                    object-fit: cover;
                    transition: .3s ease;
                }
            }

            .text {
                height: 20%;
                z-index: 300;
                position: absolute;
                top: 80%;
                font-size: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
                transition: .3s ease;
                h1{
                    font-weight: normal;
                }
                p {
                    display: none;
                    font-size: 2em;
                    margin-top: 1.4em;
                    padding-inline: 1em;
                }

            }
        }
    }


    // ================================
// TABLET
// ================================

@media (max-width: 900px) {



        .services-cont {
            grid-template-columns: repeat(2, 1fr);
            gap: 2em;

            .service {
                width: 100%;
                height: 28vw;
            }
        }
    }

// ================================
// MOBILE
// ================================

@media (max-width: 600px) {


        .services-cont {
            grid-template-columns: 1fr;
            gap: 1.5em;

            .service {
                width: 100%;
                height: 60vw;
                border-radius: 30px;

                .text {
                    font-size: 10px;
                }
            }
        }
    }

// ================================
// SMALL MOBILE
// ================================

@media (max-width: 400px) {


        .services-cont {

            .service {
                height: 65vw;
                border-radius: 25px;
            }
        }
    }
